.search-container {
    margin: 0 9.7% 64px 6.9%;
    height: 99px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;


    p {
        background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
        color: white;

        padding-left: 6px;
    }

    form {
        padding-left: 15px;
        padding-right: 18px;

        input {
            height: 48px;
            width: 88.08%;
            padding-left: 6px;
            margin: 12px 8px 12px 0;
            background: #FFFFFF;
            border: 1px solid #979797;
            box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
        }

        button {
            background: #E6E6E6;
            border: 1px solid #808080;
            box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
            width: 10%;
            height: 36px;
        }
    }
}