.night {
    header {
        .topbar {
            background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
            box-shadow: 0 1px 0 0 #110038;
        }

        a {
            color: white;
        }

        nav .menu li {

            .nav-button {
                background: #EE3EFE;
                border: 1px solid #110038;
                box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
                color: white;
            }



            .dropdown {
                color: white;
                background: #EE3EFE;
                border: 1px solid #110038;
                box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
            }

        }

        nav .menu .theme-menu {
            background: #B4B4B4;
            box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;

            .button-day-bg {
                background: #CCCCCC;
                border: 1px solid #808080;
                box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
            }

            .button-night-bg {
                color: white;
                background: #2E32FB;
                border: 1px solid rgba(51, 53, 143, 0.20);
                box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
            }
        }

    }


}